#container1 {
    margin: 2rem auto;
    width: 95%;
  }


  #Big1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card {
    margin: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  #container{
    margin: 2rem auto;
    width: 95%; 
  }
  
  
  .card-img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  
   #container2 {
    margin: 2rem auto;
    width: 95%; 
  }
  #Big{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #container5{
    margin: 2rem auto;
    width: 95%; 
  }
   #Big3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #container8{
    margin: 2rem auto;
    width: 95%; 
  }
   #Big4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  
  #container6 {
    margin: 2rem auto;
    width: 95%; 
  }
  
   
  /* #container3 {
    margin: 2rem auto;
    width: 95%;
  } */
  
  .glider-prev1 {
    margin-top: 1px;
  }
  .glider-next1 {
    margin-top: 5px;
  } 