
*{font-family: 'Montserrat', sans-serif;
}
#parent
{
    margin-top:auto;
    height:auto;
    display: flex;
    width:80%;
    margin:auto;
    /* border:1px solid red; */
   
}
h2{
    font-weight: normal;
}
#child{
    width:100%;
   margin-left:5px;
}
.offers{
    
    display:flex;
    
    height:50px;
     width:70%;
    /* border:1px solid red; */
    justify-content:space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.offers:first-child{
    /* border:1px solid green; */
    margin-top: -33px;

}

#logo{
    /* border:1px solid red; */
    width:30px;
    padding:auto;
    
    color: #e537a9;
}
#heading{
    font-size: 30px;
    font-weight: 400;
   
}
a{
     cursor: pointer;
    font-size: 14px;
    margin:auto;
}
#cartItems{
    width:70%;
    height:auto;
    margin-top:40px;
    overflow:auto;
    /* border:1px solid rgb(34, 0, 128); */
}
#cart{
    border:1px solid green;
    height:auto;
    width:100%;
    display:flex;
    
    justify-content: space-between;

}
#cart>div>img{
    margin-top:10px;
    height:80px;
    width:100px;
}
#desc{
     height:auto;
    width:35%;
    /* border:1px solid firebrick; */
}
#main,#save{
    height:100px;
    width:50%;
    display:flex;
    justify-content: space-between;
    /* border:1px solid yellow; */
}
.left{
    display:flex;
    /* border:1px solid red; */
    justify-content: space-between;
}
#btn{
    
   text-align: center;
   background-color: #e537a9;
   color:white;
   font-size: large;
   font-weight: bold;
   border:none;
   border-radius: 5px;
   height:40px;
   width:100%;
   cursor: pointer;
}
#payment{
    border:1px solid black;
    height:60px;
    display:flex;
}
#logo2{
    padding-top: 5px;
    /* border:1px solid red; */
}
#text{
    margin-left:5px;
}






.leftside{
    width:90%;
    height:80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom:10px;
}

#leftside{
   /* height:auto; */
   width:90%;
   /* border:1px solid teal; */
   margin-bottom:10px;
   
}
.flex{
 display:flex
}

.end{
/* position:absolute; */
margin:0 0 0 100px;
padding:0
}


.main{
width:100%;
height:60%;
  /* border:1px solid teal; */
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img{
height:100%;
width:25%;
/* border:1px solid green */
}
.img>img{
padding:10px 20px;
}
.content{
margin-left: 10px;
width:70%;
height:100%;
/* border:1px solid palegreen; */
/* display: flex; */
font-size: large;

}

.end{
    margin-top:-55px;
   font-size: 30px;
   font-weight: bolder;
  
}

.flex{
 display:flex
}




.main{
width:100%;
height:60%;
  /* border:1px solid teal; */
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img{
height:100%;
width:25%;
/* border:1px solid green */
}
.img>img{
padding:10px 20px;
}


.second{
width:100%;
height:19%;
margin-top: 1%;
/* border:1px solid rgb(124, 211, 37); */
justify-content:space-around;
margin-bottom: 5px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.second>h4{
line-height:4px;
margin-left: 200px;
}

.head{
font-size: 18px;
font-weight: 400;
/* line-height: 16.95px; */
color: rgb(0, 0, 0);
margin-bottom: 40px;
/* border:1px solid #e537a9 */
}
/* .head>p:first-child{
line-height:10px
} */



























