
 body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    

}
form{
    /* font-weight: 30px; */
    flex-wrap: wrap;
    /* display: grid; */
    grid-gap: 20px;
    display: flex;
    margin-left: 30px;
}
.main{
    flex-wrap: wrap;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 33%;
    margin: auto;
    margin-top: 10%;

    height: 350px;
    background-color: white;
}
input{
    display: flex;
    margin-right: 25px;
    height: 30px;
    border: 0px;
    /* width: 250px; */
    border-bottom: 0.5px solid rgb(209, 208, 208);
    
}
#submit{
    margin-top: -15px;
    margin-left: -5px;
    width: 50px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
}
#fb{
    display: flex;
    gap: 10%;
    margin-top: 20px;
}
#fb > div{
    box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 5px;
    width: 140px;
    height: 8px;
    padding: 25px;
    padding-top: 15px;
    /* border: 1px solid blue; */
    cursor: pointer;
}
#fb >div :nth-child(1){
    height: 14px;
    /* word-spacing: 20px; */
}
h3{
    text-align: center; 
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-left: 30%;
    color: rgb(135, 135, 135);
    /* padding-top: -40px; */
    margin-top: 50px;
    /* border: 1px solid red; */
    
}

#mob{
    width: 310px;
    
    /* border: 1px solid red; */
}
form> .first{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.arrow {
border: solid black;
border-width: 0 4px 4px 0;
/* display: inline-block; */
display: flex;
padding: 3px;
height: 8px ;
width: 8px;
margin-top: -35px;
margin-left: 7px;
cursor: pointer;
}

.right {
cursor: pointer;
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}